a.out
rust/target

rust/Cargo.lock
rust/*.o
rust/*.a
rust/*.so
rust/*.dylib
rust/*.dll
rust/*.lib
rust/*.rlib
rust/*.d
rust/*.pdb
rust/*.test
rust/*.profdata
rust/*.gcda
rust/*.gcno
rust/*.lcov
rust/*.info
rust/*.cov
rust/*.rustc.yaml
rust/*.rustc.json
rust/*.rust-version
rust/*~
rust/*.swp
rust/*.bak